             body
        {
            font-family: "Rubik", sans-serif;
        }
        
        .image-start
        {
            width: 100%;
            position:relative;
            height:370px;
            overflow: hidden;
        }
        
        .image-one
        {
            position:absolute;
            z-index:-1;
        }
        
        .image-two
        {
            position: absolute;
            opacity:0;
        }
        

        h2
        {
            border-bottom:2px solid #ddd;                
        }
        
        h2:hover
        {
            letter-spacing:3px;
        }
        
        h3
        {
            font-size:15px;
        }
        
        input[type=text],[type=submit]
        {
            color: #558;
            display:block;
            font-family: verdana;
            font-size:12px;
            padding:3px;
            margin:10px;
        }
        
        #username
          {
              margin-bottom:5px;
          }
        #password
        {
            display:inline-block;
            margin-top:0px;
            margin-bottom: 0px;
        }
        
        #infoform
        {
            padding: 0% 5% 5% 2%;
        }